@import "variables.css";

.hidden {
  display: none !important;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-size: cover;
  opacity: 0.9;
}
body {
  color: white;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 85%;
  top: 50px;
}
.main-section {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.main-section_box {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background-color: var(--background-color-op);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  left: 10%;
}
.clock_box {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  opacity: 0.9;
  height: 60px;
  width: auto;
}

/* gpt stlye */
.gpt-chat {
  padding: 20px;
}
.main_title {
  font-size: 30px;
  text-align: center;
}
.input-field {
  border: none;
  height: 30px;
  width: 80%;
  font-size: 15px;
  border-radius: 8px;
  border-bottom: gray;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.send-button {
  background-color: transparent;
  border: 2px solid var(--bluecolor);
  color: var(--bluecolor);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#loadingImage {
  width: 50px;
  height: 50px;
}

/* todo stlye */
.main-section_box_inner {
  padding: 20px;
}

button {
  background-color: transparent;
  border: 2px solid var(--bluecolor);
  color: var(--bluecolor);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

/* quote stlye */
.author-image {
  border-radius: 30%;
  width: 60px;
  height: 60px;
  border: 2px solid;
  position: relative;
  top: 20px;
  z-index: 1;
}
.todo-list > li {
  display: flex;
  width: 80%;
  position: relative;
  border-bottom: 2px solid var(--bluecolor);
  padding: 10px; /* 원하는 간격 설정 */
}
.todo-list > li > button {
  position: absolute;
  left: 280px;
  width: 55px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-trash-can {
  font-size: x-large;
}

#login-form {
  width: 1000px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form input {
  height: 50px;
  font-size: 30px;
  margin-left: 90px;
  margin-right: 50px;
}
#login-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 50px;
  border-radius: 10px;
}

#output {
  font-size: 20px;
}
